@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@theme {
    --animate-slide-left: slide-left 1.5s ease-out forwards;
    --animate-slide-right: slide-right 1.5s ease-out forwards;

    @keyframes slide-left {
        0% {
            transform: translateX(-200px);
            opacity: 0;
        }

        25% {
            
            opacity: 0.25;
        }

        50% {
            
            opacity: 0.5;
        }

        75% {
            
            opacity: 0.75;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes slide-right {
        0% {
            transform: translateX(200px);
            opacity: 0;
        }
        25% {
            
            opacity: 0.25;
        }

        50% {
            
            opacity: 0.5;
        }

        75% {
            
            opacity: 0.75;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
}
@import "tailwindcss";
.font-space{
    font-family: "Space Mono", monospace;
}
.font-cinzel{
    font-family: "Cinzel", serif;
}

